{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand text-info" href="/">School Store</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="#">Hello, {{user.username}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'school_store_app:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'school_store_app:login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'school_store_app:register' %}">Register</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-list-ul" style="color: #00afbc;"></i> Departments
          </a>
          <ul class="dropdown-menu">
            {% for depart in departments %}
            <li><a class="dropdown-item" href="{{depart.url}}">{{depart.name}}</a></li>
        {% endfor %}
          </ul>
        </li>
        {% if item_count > 0 %}
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping" style="color: #04aa6d;"></i> Your Cart ({{item_count}})</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
